# Python artifacts
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
TWO_Script/.envs/.env
venv/

# Logs
*.log
facebook_caption_log.txt

# Generated data and output
data_archive/
output/

# OS / editor files
.DS_Store
.env
.env
.envs/
TWO_Script/last_gtwo_time.txt
